<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Summary</title>
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
    <script>var __adobewebfontsappname__="dreamweaver"</script>
    <script src="http://use.edgefonts.net/ewert:n4:default.js" type="text/javascript"></script>
    <!-- InstanceBeginEditable name="head" -->
    <link href="http://csweb01.csueastbay.edu/~qh6268/Project%201/css/bootstrapProduct.css" rel="stylesheet">
    <link href="http://csweb01.csueastbay.edu/~qh6268/Project%201/style.css" rel="stylesheet" type="text/css">
    <!-- InstanceEndEditable -->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand brandText" href="http://csweb01.csueastbay.edu/~qh6268/Project 1/Home.html">Retro Console Shop</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li ><a href="http://csweb01.csueastbay.edu/~qh6268/Project 1/Home.html">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="http://csweb01.csueastbay.edu/~qh6268/Project 1/Products.html">Products</a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
                <li><a href="http://csweb01.csueastbay.edu/~qh6268/Project 1/cart.php"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cart</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://csweb01.csueastbay.edu/~qh6268/Project 1/js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://csweb01.csueastbay.edu/~qh6268/Project 1/js/bootstrap.js"></script><!-- InstanceBeginEditable name="EditRegion3" -->
<div class="bodyDiv">
    <div class = "userInfoDiv">

        <h1 class="userInfoH1">Order Summary</h1>
        <p>Please review your order to make sure all information is correct. Once you submit your order, you will be returned to the store home page.</p>
        <div class = "infoColumn" style = "float:left;">
            <p>Shipping Address:<br><%= data.fname %> <%= data.lname %> <br>
                <%= data.address %> <%= data.address2 %> <br>
                <%= data.city %>, <%= data.state %> <%= data.zip %><br>
                <%= data.country %><br>
            Phone: <%= data.phone %> <br>
            Email: <%= data.email %><br></p>
            <p>Credit Card Information:<br><%= data.fnameC %> <%= data.lnameC %><br>
                <%= data.creditCard %> <%= data.cardNumber %><br>
                Expires in <%= data.cardExpiration %></p>
        </div>
        <div class="infoColumn" style= "float: right;">
            <p>Billing Address:<br><%= data.fnameB %> <%= data.lnameB %> <br>
                <%= data.addressB %> <%= data.address2B %> <br>
                <%= data.cityB %>, <%= data.stateB %> <%= data.zipB %><br>
                <%= data.countryB %><br>
                Phone: <%= data.phoneB %> <br>
                Email: <%= data.emailB %><br></p>
            <br>
        </div>
        <div style = "clear:both;">
            <%
                var total =0;
            for(var i = 0; i < data.session_basket.length;i++)
            {
                var item = data.session_basket[i];
                var subtotal = ((item.price * item.quantity) + (item.price * item.quantity)*0.08).toFixed(2);
                    total += parseFloat(subtotal);
                %>
            <div class="rTableRow">
                <div class="rTableCell productRow nameColumn">
                    <img class = "cartImage" src="http://csweb01.csueastbay.edu/~qh6268/Project%201/Images/Product<%=item.code%>.jpg" alt=""/>
                    <p>&nbsp;</p>
                    <p><%= item.name %></p>
                </div>
                <div class="rTableCell productRow detailColumn">
                    <p>Qty: <%=item.quantity%></p>
                    <p>Unit Cost: $<%=item.price%></p>
                </div>
                <div class="rTableCell productRow costColumn">
                    <p>Cost:$<%=(item.price * item.quantity)%></p>
                    <p>Tax: $<%=((item.price * item.quantity)*0.08).toFixed(2)%></p>
                </div>
                <div class="rTableCell productRow actionColumn">
                    <p>&nbsp;</p>
                    <p>Subtotal: $<%=subtotal%>
                    </p>
                </div>
            </div>
           <% }
            %>
        </div>
        <div class = "totalCell" style = "float:right;">
            <p>Shipping: $2.00</p>
            <h2>Total: $<%=(total + 2).toFixed(2)%></h2>
            <form action = "http://csweb01.csueastbay.edu/~qh6268/Project 1/end.php" method ="post"><input type="submit" class = "mainButton" value="Submit Order"></form>
        </div>
    </div>
</div>
</body>
</html>